.container {
    background-color: rgb(192, 45, 45);
    width: 400px;
    height: 600px;
    padding: 30px;
    border-radius: 20px;
    border: 2px solid gray;

    .buttons {
        display: flex;
    }
}